@mixin font-face($family, $path, $wght: 400, $style: normal) {
  @font-face {
    font-family: $family;
    src: url($path);
    font-weight: $wght;
    font-style: $style;
  }
}

@mixin header-btn {
  outline: none;
  border: none;
  background-color: transparent;
}

@mixin gray-bg {
  background-color: #eee;
}

@mixin focus-border($color) {
  &:focus {
    border: 2px solid $color;
  }
}
